html, body
{
    height: 100%;
    color:blue;
}

.page 
{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
    background-color: goldenrod;
    padding: 5px;
    height: 100%;
}

.header 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 22%;
    margin-bottom: 5em;
    background-color: burlywood;
}

ul  
{
    display: flex;
    list-style-type: none;
}

ul li 
{
    margin-right: 20px;
}

li a 
{
    text-decoration: none;
    font-family: 'Noto Serif JP', serif;
    font-size: 1.5rem;
    color: blue;
    font-weight: 800;
}

.logo img 
{
    width: 70px;
    height: 70px;
    margin-left: 10px;
}

.main_body
{
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

h1
{
    color: black;
    text-align: center;
    font-size: 2rem;
}

.myImg 
{
    margin-top: 150px;
    padding-left: 20px;
    flex-basis: 450px;
}

.data 
{
    display: flex;
    align-items: center;
}

.info 
{
    color: black;
    font-family: 'Noto Serif JP', serif;
    font-size: 1.3rem;
    margin-right: 20px;
    flex-basis: 750px;
}

.knowledge {
    color: black;
    font-family: 'Noto Serif JP', serif;
    font-size: 1rem;
    display: flex;   
    justify-content: center;
}